[user]
	name = Gaurav Gahlot 
	email = <email-id> 
	signingkey = <gpg-key-id> 
[core]
	editor = vim
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	program = gpg
[pull]
	ff = only
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@github.com:gauravgahlot"]
	insteadOf = https://github.com/gauravgahlot
[url "git@github.com:<org>"]
	insteadOf = https://github.com/<org>
[credential]
helper = store # credential helper to be updated based on OS

