[user]
	name = Gaurav Gahlot
	email = email-here 
	signingkey = gpg-key 
[core]
	editor = vim
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	program = gpg
[pull]
	ff = only
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@github.com:gauravgahlot"]
	insteadOf = https://github.com/gauravgahlot
[credential]
helper = osxkeychain # credential helper to be updated based on OS

