<?xml version="1.0"?>
<DHCPServer networkName="HostInterfaceNetworking-vboxnet0" trunkName="vboxnet0" trunkType="netflt" IPAddress="10.11.12.2" lowerIP="10.11.12.3" upperIP="10.11.12.254" leasesFilename="/home/quickdev/.config/VirtualBox/HostInterfaceNetworking-vboxnet0-Dhcpd.leases" networkMask="255.255.255.0">
  <Options>
    <Option name="1" encoding="0" value="255.255.255.0"/>
  </Options>
</DHCPServer>
